@use '@/global/mediaqueries' as mq;

//============================================================
// Grid System
//============================================================

@for $i from 2 through 4 {
  .grid-#{$i} {
    display: grid;
    grid-template-columns: repeat($i, 1fr);
    grid-template-rows: auto;
    & > .item {
      width: 100%;
    }
  }
}

@include mq.mobile {
  @for $i from 2 through 4 {
    .grid-#{$i} {
      grid-template-columns: repeat(1, 100% );
      grid-template-rows: auto;
    }
    .grid-#{$i}--mobile {
      grid-template-columns: repeat($i, 1fr );
      grid-template-rows: auto;
    }
  }
}

@include mq.tablet {
  @for $i from 1 through 4 {
    .grid-#{$i}--tablet {
      grid-template-columns: repeat($i, 1fr );
      grid-template-rows: auto;
    }
  }
}

@include mq.nondesktop {
  @for $i from 2 through 4 {
    .grid-#{$i}--nondesktop {
      display: grid;
      grid-template-columns: repeat($i, 1fr );
      grid-template-rows: auto;
      & > .item { width: 100%; }
    }
  }
}

//============================================================
// Grid Gap System
//============================================================
@for $i from 1 through 4 {
  .grid-gap-#{$i} {
    grid-column-gap: $i + rem;
  }
  .grid-gap-row-#{$i} {
    grid-row-gap: $i + rem;
  }
}