// Fonts
$bodyFont: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$bodyFontSize: 16px;
$entryContentFontSize: 16px;

// Colours
$cyan: #5FC598;
$red: #FD696C;
$white: #FFF;
$black: #000313;